<!DOCTYPE html>
<html>
<head>
<title>Access Denied</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body{
    background-color: rgb(250, 245, 245);
    color: rgb(12, 12, 12);
    }
    
    h1 {
    color: red;
    }
    
    h4{
    color: red;
    text-decoration: underline;
    }
    
</style>

</head>
<body>
<div class="w3-display-middle">
<h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
<hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
<h3 class="w3-center w3-animate-right">You dont have permission to access this group.</h3>
<h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
<h4 class="w3-center w3-animate-zoom"><a href="{% url 'chat' admin.username %}">Please contact the group Admin</a></h4>
</div>
</body>
</html>